.card-wrapper {

  vertical-align: middle;
  display: inline-block;
  &.at-home {
    order:2;
    &.conflict{ 
      &.activeCombatant {
        margin-top:20px;
        order:1;
        &.is-mine {
          margin-top:-20px;
        }
      }
    }
  }

  &.at-home {
    margin-left:3px;
    margin-right:3px;
  }

  &.imperial-favor {
    margin: 0 7px 10px;
  }
    &.small {
      &.vertical {
        height: @card-sm-height;
        min-width: @card-sm-width;
      }

      &.horizontal {
        height: @card-sm-width;
        width: @card-sm-height;
      }
    }

    &.large {
      &.vertical {
        height: @card-lg-height;
        min-width: @card-lg-width;
      }

      &.horizontal {
        height: @card-lg-width;
        width: @card-lg-height;
      }
    }

    &.x-large {
      &.vertical {
        height: @card-xl-height;
        min-width: @card-xl-width;
      }

      &.horizontal {
        height: @card-xl-width;
        width: @card-xl-height;
      }
    }
}

.generate-wrappers(@n, @i: 0) when (@i =< @n) {
  .wrapper-@{i} {
    margin-left: @attachment-offset*@i;

  &.small {
      margin-left: (@attachment-offset-sm)*@i;
    }

    &.large {
      margin-left: (@attachment-offset-lg)*@i;
    }

    &.x-large {
      margin-left: (@attachment-offset-xl)*@i;
    }
  }
  .generate-wrappers(@n, (@i + 1));
}

.generate-wrappers(10, 0);

.card-frame {
  border-radius:6px;
  &.small {
    border-radius:3px;
  }
  position: relative;
}

.card {
  position: relative;
  border-radius: 6px;
  &.small {
    border-radius:3px;
  }
  box-shadow: 0 0 12px rgba(0,0,0,0.4), inset 0 0 0 1px rgba(255,255,255,0.1);
  overflow: hidden;
  z-index: @layer-cards;

  &.small {
    &.vertical {
      height: @card-sm-height;
      width: @card-sm-width;

    }

    &.horizontal {
      height: @card-sm-width;
      width: @card-sm-height;

    }
  }

  &.large {
    &.vertical {
      height: @card-lg-height;
      width: @card-lg-width;

    }

    &.horizontal {
      height: @card-lg-width;
      width: @card-lg-height;

    }
  }

  &.x-large {
    &.vertical {
      height: @card-xl-height;
      width: @card-xl-width;

    }

    &.horizontal {
      height: @card-xl-width;
      width: @card-xl-height;

    }
  }

  &.vertical {
    height: @card-height;
    width: @card-width;

  }

  &.horizontal {
    height: @card-width;
    width: @card-height;


  }

  &.selectable {
    box-shadow: 0 0 10px 1px fadeout(lighten(@brand-primary, 60%), 10%);
  }

    &.unselectable {
        filter: brightness(60%);

        .card-image {
            filter: grayscale(100%);
        }
    }

  &.in-danger {
    box-shadow: 0 0 1px 2px red;
  }

  &.selected {
    box-shadow: 0 0 1px 4px @brand-tertiary;
  }

  &.new {
    box-shadow: 0 0 1px 2px @brand-info;
  }

  &.controlled {
    box-shadow: 0 0 1px 2px @brand-warning;
  }

  &.conflict {
    box-shadow: 0 0 1px 3px @brand-danger;
  }

  &.covert {
    box-shadow: 0 0 1px 2px #9900cc;
  }
}

.bolded {
  font-weight:bold;
}

.fate-cost {
  display:inline-block;
  font-family: 'wc_mano_negra_btaregular';
  color:whitesmoke;
  text-shadow:
   0px 0px 1px #332233,
   0px 0px 2px #882244;
  font-weight:bold;
  border:1px;
  font-size: 0.9em;
  text-align:center;
  vertical-align:middle;
  z-index:@layer-cards+2;
  &.event-overlay {
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:4;
  }
  &.attachment-overlay {
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:4;
  }
  &.character-overlay {
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:4;
  }
}

.glory {
  display:inline-block;
  font-family: 'wc_mano_negra_btaregular';
  color:#453e2e;
  text-shadow:
  0px 0px 1px white,
  0px 0px 3px #886644;
  font-size: 0.8em;
  text-align:center;
  grid-column-start:6;
  grid-column-end:8;
  grid-row-start: 9;
  z-index:@layer-cards+2;
}

.mil-skill {
  display:inline-block;
  &.character-overlay {
    grid-column-start:3;
    grid-row-start:5;
    grid-row-end:6;
  }
  &.attachment-overlay {
    grid-column-start:3;
    grid-row-start:4;
    grid-row-end:5;
    text-align:left;
  }
  font-family: 'wc_mano_negra_btaregular';
  font-weight:bold;
  color:@military-number-color;
  text-align:center;
  font-size: 0.8em;
  z-index:@layer-cards+2;
}

.pol-skill {
  display:inline-block;
  font-weight:bold;
  &.character-overlay {
    grid-column-start:3;
    grid-row-start:7;
    grid-row-end:8;
  }
  &.attachment-overlay {
    grid-column-start:3;
    grid-row-start:5;
    grid-row-end:6;
    text-align:left;
  }
  font-family: 'wc_mano_negra_btaregular';
  color:@political-number-color;
  text-align:center;
  font-size: 0.8em;
  z-index:@layer-cards+2;
}

.card-title {
  display:inline-block;
  font-family: 'brushtiptexe';
  z-index: @layer-cards + 2;
  color: black;
  font-size: 0.65em;
  font-kerning:none;
  text-align:justify;
  -moz-text-align-last: center;
  text-align-last: center;
  vertical-align:middle;
  line-height:1.926em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.character-overlay {
    grid-row-start:2;
    grid-row-end:4;
    grid-column-start:5;
    grid-column-end:6;
  }

  &.event-overlay {
    grid-row-start:7;
    grid-row-end:8;
    grid-column-start:3;
    grid-column-end:8;
  }

  &.attachment-overlay { 
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin:left;
    position:absolute;
    width:9em;
    height:2em;
    bottom:1.5em;
    left:1.2em;
    vertical-align:middle;
    grid-column-start:2;
    grid-column-end:5;
    text-align:center;
    overflow:visibile;
  }

  &.holding-overlay {
    transform-origin:center;
    grid-row-start:7;
    grid-row-end:11;
    grid-column-start:5;
    grid-column-end:10;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed|Open+Sans|Roboto');

p.card-text-pg {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0.35em;
  margin-top:0;
  text-align:left;
}
.card-text {
  margin-top:0;
  margin-bottom:0;
  position:relative;
  display:inline-block;
  text-align: left;
  font-kerning:none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:1.3;
  font-family: "Segoe UI", "Open Sans Condensed", sans-serif;
  font-size: 0.34em;
  font-weight: 300;
  z-index: @layer-cards + 1;
  color: black;
  &.character-overlay {
    grid-row-start:11;
    grid-row-end:12;
    grid-column-start:3;
    grid-column-end:9;
  }
  &.attachment-overlay {
    grid-row-start:8;
    grid-row-end:9;
    grid-column-start:5;
    grid-column-end:7;
  }
  &.event-overlay {
    grid-row-start:8;
    grid-row-end:9;
    grid-column-start:3;
    grid-column-end:7;
  }
  &.holding-overlay {
    grid-row-start:3;
    grid-row-end:5;
    grid-column-start:5;
    grid-column-end:7;
  }
  &.stronghold-overlay {
    grid-row-start:10;
    grid-row-end:11;
    grid-column-start:3;
    grid-column-end:7;
  }
}
.card-traits {
  font-style:italic;
  font-weight:bold;
  position:relative;
  display:inline-block;
  text-align: center;
  font-kerning:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:100%;
  font-family: "Segoe UI", "Open Sans Condensed", sans-serif;
  font-size: 0.32em;
  z-index: @layer-cards + 1;
  color: black;

  &.character-overlay {
    grid-row-start:10;
    grid-row-end:11;
    grid-column-start:3;
    grid-column-end:8;
  }
  &.attachment-overlay {
    grid-row-start:7;
    grid-row-end:8;
    grid-column-start:5;
    grid-column-end:7;
  }
  &.event-overlay {
    grid-row-start:7;
    grid-row-end:8;
    grid-column-start:3;
    grid-column-end:7;
  }
  &.holding-overlay {
    grid-row-start:2;
    grid-row-end:3;
    grid-column-start:5;
    grid-column-end:7;
  }
  &.stronghold-overlay {
    grid-row-start:10;
    grid-row-end:11;
    grid-column-start:3;
    grid-column-end:7;
  }
}

.flavor-text {
  font-size: 0.3em;
  font-style:italic;
}

.bolded {
  font-weight:800;
}

.emphasized {
  font-weight:bold;
  font-style:italic;
}

.italicized {
  font-style:italic;
}

.superscripted {
  font-size:0.7em;
  vertical-align:text-top;
}

.overlay-base {
  position:absolute;
  width:@card-width;
  height:@card-height;
  z-index: @layer-cards + 1;
  font-size: 1em;
  &.small {
    width: @card-sm-width;
    height: @card-sm-height;
    font-size: .8em;
  }
  &.large {
    width: @card-lg-width;
    height: @card-lg-height;
    font-size: 1.2em;
  }
  &.x-large {
    font-size:2.2em;
    width: @card-xl-width;
    height: @card-xl-height;
  }

  &.bowed {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 20px;
    top: -21px;

  }
  &.character-overlay {
    display: grid;
    grid-template-columns: 2% 2% 10% 1% 70% 4% 2% 4% 1% 3%; 
    grid-template-rows:  2% 1% 9% 3.5% 7% 2% 7% 27% 6.5% 4% 22% 10%;
  }
  &.attachment-overlay {
    display: grid;
    grid-template-columns: 2% 3% 10% 1% 75% 5% 15% 1% 3%; 
    grid-template-rows:  1% 1% 14% 10% 10% 22% 5% 30%;
  }
  &.event-overlay {
    display: grid;
    grid-template-columns: 2% 2.6% 2% 6% 68% 2% 10% 1% 3%; 
    grid-template-rows:  1% 1% 10% 3% 30% 10% 13% 5% 30%;
  }
  &.holding-overlay {
    display: grid;
    grid-template-columns: 2% 1.6% 10% 1% 73% 2% 10% 1% 3%; 
    grid-template-rows:  1% 1% 10% 3.5% 7% 2% 7% 32% 5% 30%;
  }
  &.stronghold-overlay {
    display: grid;
    grid-template-columns: 2% 1.6% 10% 1% 73% 2% 10% 1% 3%; 
    grid-template-rows:  1% 1% 10% 3.5% 7% 2% 7% 32% 5% 30%;
  }
}

.overlay-image {
  position: absolute;
  z-index: 1;
  padding:0;
}

.card-image {
  left: 0;
  position: absolute;
  top: 0;
  z-index:0;
  overflow:hidden;

  &.small {
    &.vertical {
      height: @card-sm-height;
      width: @card-sm-width;
    }

    &.horizontal {
      height: @card-sm-width;
      width: @card-sm-height;
    }

    &.bowed {
      left: 8px;
      top: -8px;
    }
  }

  &.vertical {
    height: @card-height;
    width: @card-width;
  }

  &.horizontal {
    height: @card-width;
    width: @card-height;
  }

  &.large {
    &.vertical {
      height: @card-lg-height;
      width: @card-lg-width;
    }

    &.horizontal {
      height: @card-lg-width;
      width: @card-lg-height;
    }

    &.bowed {
      left: 14px;
      top: -14px;
    }
  }

  &.x-large {
    &.vertical {
      height: @card-xl-height;
      width: @card-xl-width;
    }

    &.horizontal {
      height: @card-xl-width;
      width: @card-xl-height;
    }

    &.bowed {
      //  left: 20px;
      //  top: -21px;
    }
  }

  // &.bowed {
  //   left: 9px;
  //   top: -10px;
  //   transform: rotate(90deg);
  // }

  &.broken {
      transform: rotate(180deg);
  }
}

.card-order {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  height: 26px;
  left: 50%;
  line-height: 24px;
  margin: 0 0 0 -12px;
  position: absolute;
  text-align: center;
  overflow-x:visible;
  top: -28px;
  width: 24px;
  z-index: @layer-card-menu;
}

.card-name {
  font-size: 1em;
  line-height: 1em;
}

.custom-card:hover .card-name {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: @layer-card-menu;
}

.card-large {
  width: 220px;
  height: 307px;
  position: absolute;
  top: 0;
  right: 0;

}

.card-large-horizontal {
  width: 307px;
  height: 220px;
  position: relative;
}

.card-zoomed {
  width: 100%;
  height: 100%;
}

.card-zoomed > img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.attachment {
  margin-top: -(@card-height);

  &.small {
    margin-top: -(@card-sm-height);

  }

  &.large {
    margin-top: -(@card-lg-height);

  }

  &.x-large {
    margin-top: -(@card-xl-height);

  }

}

.generate-attachments(@n, @i: 1) when (@i =< @n) {
  .attachment-@{i} {
    margin-left: -(@attachment-offset)*@i;
    z-index: @layer-cards - @i;

    &.small {
      margin-left: -(@attachment-offset-sm)*@i;
    }

    &.large {
      margin-left: -(@attachment-offset-lg)*@i;
    }

    &.x-large {
      margin-left: -(@attachment-offset-xl)*@i;
    }
  }

  .attachment-@{i}.horizontal {
    margin-left: -(@attachment-offset)*@i;
    margin-top: -(@card-height)-(@attachment-offset);
    z-index: @layer-cards - @i;

    &.small {
      margin-left: -(@attachment-offset-sm)*@i;
      margin-top: -(@card-sm-height)-(@attachment-offset-sm);
    }

    &.large {
      margin-left: -(@attachment-offset-lg)*@i;
      margin-top: -(@card-lg-height)-(@attachment-offset-lg);
    }

    &.x-large {
      margin-left: -(@attachment-offset-xl)*@i;
      margin-top: -(@card-xl-height)-(@attachment-offset-xl);
    }

  }
  .generate-attachments(@n, (@i + 1));
}

.generate-attachments(10, 1);

.card-type-faction.horizontal {
    margin: 10px 0 0 -10px;
}

.counters {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: @layer-cards + 2;
}

.card.vertical .counters {
  flex-direction: column;

  &.many-counters {
    flex-direction: row;
  }
}

.card.horizontal .counters {
  flex-direction: row;

  &.many-counters {
    flex-direction: column;
  }
}

.fatecounter {
  box-sizing:border-box;
  font-size: 1em;
  font-weight:bold;
  width: 1em;
  height: 1em;
  line-height:1em;
  &.ring-fate {
    font-size: 0.5em;
  }
  filter: drop-shadow(4px,4px,5px,5px,black);
}

.fatecounter > img {
  float:left;
  top:0;
  left:0;
  margin-bottom:-100%;
  z-index: @layer-cards + 2;
  width:1em;
  height:1em;
}

.fatecountertext {
  left:0px;
  width:100%;
  float:left;
  text-align:center;
  color: white;
  text-shadow: 1px 1px 2px #000;
  z-index: @layer-cards + 3;
  font-size:0.5em;
}
@media(max-width: 1279px) {
  .fatecounter {
    &.ring-fate {
      font-size:15px;
    }
  }
}



.honorcounter {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0px;
  left: 20px;

}

.honorstatuscounter {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
}

.strength {
  background-color: @strength-color;
}

.stand {
  background-color: rgba(128,128,128,0.85);
}

.province-attachment {
  margin-top: @attachment-offset - @card-height;

  &.small {
    margin-top: @attachment-offset-sm - @card-sm-height;
  }

  &.large {
    margin-top: @attachment-offset-lg - @card-lg-height;
  }

  &.x-large {
    margin-top: @attachment-offset-xl - @card-xl-height;
  }
}

.generate-province-attachment(@n, @i: 1) when (@i =< @n) {
  .province-attachment-@{i} {
    z-index: @layer-cards - @i;
  }
  .generate-province-attachment(@n, (@i + 1));
}

.generate-province-attachment(5, 1);
