name: Ringteki CI

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest 
    env:
      CXX: g++-4.9

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12.18.3'
      - run: npm install
      - run: npm install -g typescript@3.4.5
      - run: tsc
      - name: Fetch Data
        run: node server/scripts/fetchdata.js
      - name: Test
        run: npm run jasmine_ci
      - name: Lint
        run: npm run lint
